## .NET
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.nuget.cache

# Rider
.idea/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.TestAdapter.dll

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# User-specific
*.rsuser
*.DotSettings.user

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Misc
*.txt
!LICENSE.txt
